{% extends "shared-component/only_admin_header.html" %}
{% block title %} Login form {% endblock title %}
{% block content %}
<script src="https://kit.fontawesome.com/dcd863c3d4.js" crossorigin="anonymous"></script>

<link rel="stylesheet" type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
<script src="{{ url_for('static', filename='js/index.js') }}"></script>

<div class="row">
    <div id="mySidenav" class="sidenav col-2">
        <form class="form-inline d-flex p-2" method="POST" action="{{ url_for('admin.searchAnEmployee') }}"  enctype="multipart/form-data">
          <input class="form-control mr-sm-2 mr-1" type="search" placeholder="Search Name" aria-label="Search" name="search_value" value={{ value_search }}>
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        <a href="{{ url_for('admin.adminHome') }}" class="active-tab"><b><i class="fas fa-users-cog"></i>&nbsp; Admin</b></a>
        <a href="{{ url_for('admin.getFullCalendar') }}"><b><i class="fas fa-calendar-alt"></i>&nbsp;  Calendar</b></a>
        <a class="" href="{{ url_for('createNewEmployeeGET') }}" ><b><i class="fas fa-user-plus"></i>&nbsp; Add a New Employee</b></a>
        <a class="" href="{{ url_for('createNewDepartmentGET') }}" > <b><i class="fas fa-plus"></i>&nbsp; Add a New Department</b></a>
        <a class="" href="{{ url_for('createNewEmployeeTypeGET') }}" ><b><i class="fas fa-plus"></i>&nbsp; Add a New Employee Type</b> </a>
        <a class="" href="{{ url_for('createNewRoleGET') }}" ><b><i class="fas fa-plus"></i>&nbsp; Add a New Role</b></a>
    </div>

    <div class="col-10">
        <div class="d-flex all-btns-active-inactive">
            <div class="">
                <a class="{{ 'outline-active-tab' if status == 'active' else 'add-opacity'}} btn btn-outline-secondary active-inactive-btn remove-border-right" href="{{ url_for('admin.employee_active_data', status='active') }}"> Active </a>
            </div>
            <div class="active-inactive-btn">
                <a class="{{ 'outline-active-tab' if status == 'Inactive'  else 'add-opacity'}} btn btn-outline-secondary active-inactive-btn remove-border-right" href="{{ url_for('admin.employee_active_data', status='Inactive') }}"> In Active </a>
            </div>
            <div class="active-inactive-btn">
                <a class="{{ 'outline-active-tab' if not status  else 'add-opacity'}}  btn btn-outline-secondary outline-all-tab active-inactive-btn" href="{{ url_for('admin.employee_active_data', status='all') }}"> All </a>
            </div>
        </div>
        <div>
            <div class="d-flex pt-4 row ">
                <div class="col-1"></div>
                <div class="col-3 font-size-large-bold"><b>Full Name & Email</b></div>
                <div class="col-2 font-size-large-bold"><b>Joining Date</b></div>
                <div class="col-1 font-size-large-bold"><b>Role</b></div>
                <div class="col-1 font-size-large-bold text-center"><b>Status</b></div>
                <div class="col-2 font-size-large-bold"><b>Department</b></div>
                <div class="col-1"></div>
                <div class="col-1"></div>
            </div>

            {% if display_all_employees | length %}
                {% for employee in display_all_employees %}
                    <div class="d-flex pt-4 pb-4 row add-border-bottom">
                            <div class="col-1">
                                {% if employee.profile_image_name %}
                                    <img src="{{url_for('file', filename=employee['profile_image_name'])}}" width="50px" height="50px">
                                {% elif employee.gender == "Female" %}
                                    <img src="{{ url_for('static', filename='img/female_avatar.jpg') }}" alt="alternate" width="50px" height="50px">
                                {% elif employee.gender == "Male" %}
                                    <img src="{{ url_for('static', filename='img/male_avatar.jpg') }}" alt="alternate" width="50px" height="50px">
                                {% else %}
                                    <img src="{{ url_for('static', filename='img/avatar.png') }}" alt="alternate" width="50px" height="50px">
                                {% endif %}
                            </div>
                            <div class="col-3 ptop-8 ">
                                <div class="font-size-large-bold">
                                    <b>{{ employee.first_name }} {{ employee.last_name }}</b>
                                </div>

                                <div class="font-size-small">
                                    {{ employee.official_email_address }}
                                </div>
                            </div>

                            <div class="d-flex p-2 col-2 font-size-large-bold align-vertical-center">
                                {{ employee.date_of_joining }}
                            </div>

                            <div class="d-flex p-2 col-1 font-size-large-bold align-vertical-center">
                                <a href="{{ url_for( 'editingRoleGET', id=employee.user_role_id ) }}">{{ employee.role }}</a> 
                            </div>

                            <div class="d-flex p-2 col-1 font-size-large-bold align-vertical-center text-center-div">
                                {% if employee.is_active %}
                                    Active
                                {% endif %}

                                {% if not employee.is_active %}
                                    In Active
                                {% endif %}
                            </div>

                            <div class="col-2 font-size-large-bold align-vertical-center">
                                {% if employee._id != 0 %}
                                    <a class="edit-department-name" href="{{ url_for('editingDepartmentGET', id=employee.department_id) }}">{{ employee.department_name }}</a>
                                {% else %}
                                    <div class="text-center full-width">-</div>
                                {% endif %}
                            </div>

                            <div class="col-1 align-vertical-center text-center-div">
                                <a href="/editEmployee/{{ employee._id }}"><i class="fas fa-user-edit text-dark"></i> </a>
                            </div>

                            <div class="col-1 align-vertical-center text-center-div">
                                {% if employee._id != 0 %}
                                    <a href="/deleteExistingEmployee/{{ employee._id }}"><i class="fas fa-trash text-danger"></i></a>
                                {% endif %}
                            </div>
                        </div>
                {% endfor %}
            {% else %}
                <div class="text-center p-3 font-size-large-bold"> <b> No Records found </b> </div>
            {% endif %}
        </div>
      </div>
    </div>
    <a id="back-to-top" href="#" class="btn btn-light btn-lg back-to-top" role="button" ><i class="fas fa-chevron-up"></i></a>

</div>
{% endblock content %}
