<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</head>
<body>
  <div class="container" >
      <form method="POST" action="{{ url_for('login.resetPassword') }}">
        {{ form.csrt_token }}

        <h1>Change Password</h1>
        <p>
            {% if show_password %}
                Please enter the password and confirm password
            {% else %}
                Please Enter the email inorder to create a password
            {% endif %}
        </p>

        <div>
            {% if error %}
                {% for errors in error %}
                    <div class="alert alert-danger" role="alert"><strong>Error:</strong> {{ errors }}</div>
                {% endfor %}
            {% endif %}
        </div>

        <div class="row">
            <div class="form-group col-4">
                {{ form.email_address.label }} {{ form.email_address(class="form-control", placeholder="Enter Email Address")}} {{ form.hidden_tag() }}
            </div>

            <div class="form-group col-4">
                {{ form.username.label }} {{ form.username(class="form-control", placeholder="Enter Username")}} {{ form.hidden_tag() }}
            </div>
            {% if show_password %}
                <div class="form-group col-4">
                    {{ form.password.label }} {{ form.password(class="form-control", placeholder="Enter Password")}} {{ form.hidden_tag() }}
                </div>

                <div class="form-group col-4">
                    {{ form.confirm.label }} {{ form.confirm(class="form-control", placeholder="Confirm Password")}} {{ form.hidden_tag() }}
                </div>
            {% endif %}
          </div>


        <div class="row">
            {% if show_password %}
                <input type="submit" value="Reset Password" class="btn btn-primary"/>
            {% else %}
                <input type="submit" value="Check" class="btn btn-primary"/>
            {% endif %}
            <a type="button" href="{{ url_for('login.login_info') }}" class="btn btn-secondary">Cancel</a>
        </div>
      </form>
  </div>
</body>
</html>