{% if session['first_name'] %}
    {% extends "shared-component/only_admin_header.html" %}
{% else %}
    {% extends "shared-component/index.html" %}
{% endif %}
{% block title %} EMS-Help {% endblock title %}
{% block content %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/dcd863c3d4.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <style>
        .mtb-20 {
            margin-bottom: 20px;
            margin-top: 20px;
        }
    </style>
    <div class="container">
            {% if session['employee_id'] %}
                <a href="{{ url_for('employees.home') }}" class="btn btn-default mtb-20"><i class="fas fa-arrow-left"></i>  Back to <b>{{ session['first_name'] }} {{ session['last_name'] }}'s</b> Home page</a>
             {% endif %}
            {% if not session['employee_id'] and session['first_name'] %}
                <a href="{{ url_for('admin.adminHome') }}" class="btn btn-default mtb-20"><i class="fas fa-arrow-left"></i>  Back to <b>{{ session['first_name'] }} {{ session['last_name'] }}'s</b> Home page</a>
            {% endif %}
        <div class="accordion" id="accordionExample">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-color-border" type="button" data-toggle="collapse" data-target="#collapseOne"
                            aria-expanded="true" aria-controls="collapseOne">
                            <b>What is Employee Management System?</b>
                            <b><i class="fas fa-plus"></i></b>
                        </button>
                    </h2>
                </div>

                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">
                        An employee management system is a platform where all work-related as well as important personal
                        details of an employee is stored and managed in a secure way. By using this system, you can
                        manage admin activities in an easier and quicker way.

                        Employees are the pillar of any organization and an ideal employee management tool makes a big
                        difference to an organization.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed btn-color-border" type="button" data-toggle="collapse" data-target="#collapseTwo"
                            aria-expanded="false" aria-controls="collapseTwo">
                            <b>Home Page and Login Page</b>
                        </button>
                    </h2>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body">
                        When you run the application, it will automatically directed to the HOME Page.
                        Already existing user can enter the username and password and can be logged in to the account.
                        If the user is admin user, then admin can enter his username and password and can be logged in
                        as admin user in to the account.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingThree">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed btn-color-border" type="button" data-toggle="collapse" data-target="#collapseThree"
                            aria-expanded="false" aria-controls="collapseThree">
                            <b>Employee Profile</b>
                        </button>
                    </h2>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="card-body">
                        When the user logged in to the account, it will directed them to the user home page which
                        will show the basic details of the user which includes email, department, job position. User
                        can click on the "Your Profile" option on the top right corner which shows all the
                        basic details of the user along with the personal details.
                        <b>Edit profile</b> - On the user home page user can click on edit details icon, that will take
                        them to edit user page. User can edit few details such as Personal details, Bank details,
                        Skills and Qualities. To update the other information they need to contact to admin to get the
                        details updated as they do not have rights to edit few details.
                        <b>Signup users</b> Admin can only add the new users to the account because admin have permissions to signup for new
                        users.
                        <b>Change Password</b> Users can change their passwords by clicking "Forgot Password" hyperlink
                        on the Login Page and can easily change their account password.

                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingFour">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed btn-color-border" type="button" data-toggle="collapse" data-target="#collapseFour"
                            aria-expanded="false" aria-controls="collapseFour">
                            <b>Department Profile</b>
                        </button>
                    </h2>
                </div>
                <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                    <div class="card-body">
                        When the user logged in to the account, it will directed them to the user home page which
                        will show the basic details of the user which includes email, department, job position.
                        When user clicks on Department name (for eg- Research and Development Department) it will
                        re-directed to the edit department page which shows the details of the users which are under
                        that particular department. For instance - The hierarchy as follows- Director is having two
                        users i.e. Team Lead and Co-op. Then team lead is having three users (staffs). Below image is
                        for your reference-
                    <div class="container">
                    <div class="imgcontainer">
                    <img src="/static/img/department.jpg" alt="Avatar" class="avatar">
                    </div>
                    </div>
                </div>
            </div>

                <div class="card">
                <div class="card-header" id="headingFive">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed btn-color-border" type="button" data-toggle="collapse" data-target="#collapseFive"
                            aria-expanded="false" aria-controls="collapseFive">
                            <b>Admin Profile</b>
                        </button>
                    </h2>
                </div>
                <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                    <div class="card-body">
                        Admin manages the overall profile of the user. Admin has rights to add new users and he
                        can edit the user's profile.
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
